@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --app-bg: hsl(225deg 33% 95%);

  --font-size: 18px;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-weight: inherit;
  font-size: inherit;
}

#root {
  overflow: auto;
  height: 100%;
  background-color: var(--app-bg);
  margin-bottom: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  display: none;
}
